body {
    font-family: 'Open Sans', sans-serif;
  }

a {
  text-decoration: none;
}

  /*Primary Navigation*/

  header {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #nav-list{
    display: flex;
    justify-content: space-between;
    text-align: middle;
  }
  
  li{
    list-style: none;
  }
  
  .a-link{
    color: #000;
    font-size: 45px;
  }

.resume-btn {
    background-color: #000;
    color: #fff;
}

#contact-links-nav {
    display: flex;
    gap: 1rem;
}

  /*Style for Welcome Section */
  .welcome-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: left;
  }
  
.hero-content {
    padding: 20%;
}

  .name-header {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
  }
  
  .sub-header {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .hero-description {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 58px;
  }
  
  /* STYLE FOR PROJECT SECTION */
#projects {
    align-items: center;
    margin: 20%;
    padding-top: 10vh;
}

  .my-projects-header{
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
  }
  
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background: #fff;
    border-radius: 20px;
  }
  
  .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    height: 35vh;
  }

  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
  }

 /* OTHER UX PORTFOLIOS SECTION */
 .ux-portfolio {
    color: #000;
    margin: 20%;
    padding: 10%;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
 }

  /*CONTACT ME SECTION*/
  .contact-header{
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
  }
  
  #contact{
    background-color: #fff;
    width: 100%;
    height: 40vh;
  }

  
  #contact-links {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
  }
  
  .a-link{
    color: #000;
    text-align: center;
    font-size: 45px;
  }
  
  .a-link:hover{
    background-color:white;
    color:gray;
  }
  
  #contact-p{
    color: #000;
    font-style: italic;
    font-weight: 100;
  }
  

  /* FOOTER */
  .resume-btn-footer {
    color: #fff;
    background-color: #000;
    text-align: center;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }