body {
    font-family: 'Open Sans', sans-serif;
    background-color: #15616D;
    padding-top: 1vh;
    margin: 0%;
  }

a {
  text-decoration: none;
  color: #000;
}

  /*Primary Navigation*/
  .navbar {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  li{
    list-style: none;
  }

.cs-btn:hover {
  background-color: #000;
  padding: 1rem;
  transition: .3s;
  color: beige;
  border-radius: 20px;
  display: block;
}

.resume-btn:hover {
  background-color: #000;
  padding: 1rem;
  transition: .3s;
  color: beige;
  border-radius: 20px;
  display: block;
}

#contact-links-nav {
    display: flex;
    gap: 2rem;
}

.a-link-nav{
  color: #000;
  text-align: center;
  font-size: 45px;
}

.a-link-nav:hover{
  transition: .3s;
  color: beige;
  border-radius: 20px;
  background-color: #000;
  padding: 0 1rem;
  display: block;
}

  /*Style for Welcome Section */
  .welcome-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: left;
    margin: 20%;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 96px 96px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
  }
  
.hero-content {
    padding: 20%;
}

  .name-header {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 58px;
  }
  
  .sub-header {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 58px;
    font-weight: bold;
  }
  
  .hero-description {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 16px;
    /* line-height: 58px; */
  }
  
  /* STYLE FOR PROJECT SECTION */
#projects {
    align-items: center;
    margin: 20%;
    padding-top: 10vh;
}

  .my-projects-header{
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .card-section {
    text-align: center;
    border-radius: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    height: 35vh;
    width: 15vw;
    padding: 10%;
    align-items: center;
    margin: auto;
  }

  .card:hover {
    box-shadow: 0 96px 96px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
    transition: 0.3s;
  }

 /* OTHER UX PORTFOLIOS SECTION */
 .ux-portfolio {
    color: #000;
    background: #fff;
    margin: 20%;
    padding: 10%;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
 }

.hr1 {
  font-weight: bold;
  font-size: 24px;
}

.hr1:hover {
  padding: 0 4rem;
  transition: .3s;
  color: #000;
  background-color: beige;
  border-radius: 20px;
  display: block;
}

 /* FOOTER */

  /*CONTACT ME SECTION*/
  .contact-header{
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
    padding-top: 5vh;
  }
  
  #contact{
    background-color: #fff;
    height: 40vh;
  }
  
  #contact-links {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
  }
  
  .a-link-ftr{
    color: #000;
    font-size: 32px;
  }

.a-link-ftr:hover {
  background-color: #000;
  padding: 2rem;
  transition: .3s;
  color: beige;
  border-radius: 20px;
  display: block;
}